<?xml version="1.0"?>
<configuration>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
  </appSettings>
  <connectionStrings>
    <remove name="IEBConnectionString"/>
    <add name="IEBConnectionString" connectionString="data source=sql5030.site4now.net;User Id=DB_A19DB6_kdibd_admin; Password=P@2sw0rd; Initial Catalog=DB_A19DB6_kdibd;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30000"/>
    <!--<add name="IEBConnectionString" connectionString="data source=GENTLEPARK;User Id=sa; Password=unisoft123!@#; Initial Catalog=producteev;Min Pool Size=5;Max Pool Size=60;Connect Timeout=30000" />-->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off" defaultRedirect="page/CustomErrorPage.aspx">
      <error statusCode="404" redirect="page/CustomErrorPageSQLInjection.aspx" />
    </customErrors>
    <sessionState timeout="525600"></sessionState>
    <pages>
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    
  </system.web>
</configuration>

