
#container div{
	/*margin:18px 0 0 0;*/
	padding:10px;
	background:#faf9f9 url(images/subform_bg.png) repeat-x;	
	width:978px;
	
	border:1px solid #555bb9;
	/*padding:15px 0 10px 10px;*/
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	}
#container div div{
	/*margin:18px 0 0 0;*/
	padding:0px;
	margin-top:5px;
	background:none;	
	width:100%;
	overflow:scroll;
	}
	