/****** Script for SelectTopNRows command from SSMS  ******/
SELECT COUNT(distinct [No]) as [All Summary]
  FROM [Phone].[dbo].[All]
 
 
  SELECT COUNT(distinct [No]) as [Sir Summary]
  FROM [Phone].[dbo].mmquayyum
  
  
  SELECT COUNT(distinct [No])  as [Sir Summary1]
  FROM [Phone].[dbo].mmq1
  
  
  SELECT COUNT(distinct [No])  as [Sir Summary2]
  FROM [Phone].[dbo].mmq1