/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Distinct [No]
     -- ,[GroupName]
  FROM [Phone].[dbo].[All]
  where No in ('8801819215933','8801711594574','8801713060948','8801713004662','8801755503741')